{% extends 'admin_home.html' %}
{% load static %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SL.NO</th>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Action</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for i in book  %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.title}}</td>
                            <td><img src="/media/{{i.image}}" style="width:50px"/></td>
                            <td>{{i.category}}</td>
                            <td>{{i.author}}</td>
                            <td>₹{{i.price}}</td>
                            <td>{{i.stock}}</td>
                            <td>
                                <a href="{% url 'edit_product' i.id  %}" class="btn btn-primary btn-xs"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'delete_product' i.id  %}"  class=" demo btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                                                                 
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
</div>

{% endblock main %}
