{% extends 'admin_home.html' %}
{% load static %}

{% block main %}

<div class="cart_info bg-light">
    <table class="table table-hover bg-light">
        <thead class="text-center bg-light">
            <tr>
                <th scope="col">Order ID</th>
                <th>Book title</th>
                <th>Book image</th>
                <th scope="col">Customer-Name</th>
                <th scope="col">Email</th>
                <th>Contact</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for i in myorder %}
            <tr>
                <td><a href="">#001{{ i.id }}</a></td>
                <td>{{i.book.title}}</td>
                <td><img src="/media/{{i.book.image}}" style="width:50px"/></td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{i.mobile}}</td>
                <td class="text-center bg-warning " style=" color:red;" >
                    {% if i.status == True %}
                    <p style="color: black; background-color:rgb(12, 243, 12); ">Confirmed</p>
                    {% else %}
                    <p style="color:red;background-color: black; ">Processing...</p>
                    {% endif %}</td>
                <td>{{ i.created_at }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url 'update_order_view' i.id  %}"><span><i class="fa-solid fa-pen-to-square"></i></span></a>
                    <a href="{% url 'delete_order' i.id  %}"  class=" demo btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock main %}
