{% extends 'user_home.html' %}
{% load static %}

{% block main %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/display.css' %}">    
{% endblock script %}
    

<div id="wrapper" class="container-fluid" >
    <div class="row">
        <!-- Sidebar with categories -->
        <div class="col-md-2 bg-light pt-3">
            <div class="list-group p-3 mt-4">
                <a href="{% url 'display' %}" class="list-group-item list-group-item-action bg-light">All Product</a>
                <span class="p-3">Selected Category: {{ selected_category.name | default:'' }}</span>
                {% for category in categories %}
                <a href="{% url 'sidebar' id=category.id %}" class="list-group-item list-group-item-action bg-light p-3">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Display books -->
        <div class="col-md-10" >
            <div class="row">
                {% for i in books %}                   
                <div class="col-md-3">
                    <div class="card m-4" id="card" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                        <img class="p-2 mx-4" src="/media/{{i.image}}" id="img" alt="card-img">
                        <div class="card-body">
                            <h6 class="card-title"> {{i.title}} <br> Rs.{{i.price}} <small style="text-decoration: line-through;"> ₹699.00</small></h6>                           
                            <div>Author-{{i.author}}</div>
                            <h6 class="card-text" style="font-size:14px;display: flex; align-items: center;">Stock-{{i.stock}}</h6>  
                            <div class="mx-3 m-1" style="display: flex; align-items: center;">
                              {% for _ in "12345" %}
                                  {% if i.avg_rating >= forloop.counter %}
                                      <small class="fa fa-star checked" style="margin-right: 3px;"></small>
                                  {% else %}
                                      <small class="fa fa-star" style="margin-right: 3px;"></small>
                                  {% endif %}
                              {% endfor %}
                              <span class="{% if i.avg_rating %} orange-text{% endif %}" style="margin-right: 5px;">{{ i.avg_rating|floatformat:1|default:"" }}</span>
                              <span style="margin-right: 10px;">({{ i.num_reviews }})</span>
                          </div>
                          <!-- <input type="text" value="{{i.id}}" name="" id=""> -->
                          <a href="{% url 'book_details' i.id %}" class="btn btn-warning btn-block">View Book</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main %}



