{% extends 'user_home.html' %}

{% load static %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/details.css' %}">

<div class="container pt-5">
  <div class="card center book_qty" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ book.image.url }}" alt="{{ book.title }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="category text-bold">
            Category:{{categories}}
          </div>
          <h5 class="card-title product-title text-bold my-3">{{ book.title }}</h5>
          <h4 class="card-text text-success">Author: {{ book.author }}</h4>
          <p class="card-text new-price text-bold mb-1">Price: ₹{{ book.price }}</p>
          <!-- Add to Cart and Buy Now Buttons -->
          <div class="row mt-2 block">
            <div class="col-md-9">
              {% csrf_token %}
              {% if  book.stock > 0 %}
                <div class="input-group text-center mb-3" style="width: 120px;">
                  <input type="hidden" class="book_id" value="{{book.id}}">
                    <button class="input-group-text decrement-btn">-</button>
                    <input type="text" name="quantity" class="form-control text-center quantity-input" id="" value="1">
                    <button class="input-group-text increment-btn">+</button>
                  </div>
                  <button class="btn btn-warning custom-btn add-to-cart-btn" data-book-id="{{ book.id }}"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
              {% else %}
                <button class="btn btn-secondary"><i class="fa fa-minus"></i>Out of Stock</button>
              {% endif %} 
              <button class="btn btn-primary add-to-wishlist custom-btn"><i class="fa fa-heart"></i>Add to Wishlist</button>

            </div>
            <!-- <div class="col-md-3">
              <button class="btn btn-primary custom-btn">Add to Wishlist</button>
            </div> -->
        </div>
               
          </div>
          <div class="row questions p-3">
            <div class="col-md-1 icon">
              <i class="fa-brands fa-rocketchat questions-icon"></i>
            </div>
            <div class="col-md-11 text">
              Have a question about our products at E-Store? Feel free to contact our representatives via live chat or
              email.
            </div>
          </div>
          <div class="delivery my-4 p-3">
            <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in 3 days
                from date of purchase</b> </p>
            <p class="text-secondary">Order now to get this product delivery</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="product-info-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                aria-selected="false">Reviews ({{ reviews.count }})</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="description">
                <div class="partial-text">
                  {{ book.description|truncatechars:200 }} <!-- Display first 200 characters as partial text -->
                </div>
                <div class="full-text hide">
                  {{ book.description }} <!-- Display the full description, initially hidden -->
                </div>
                <button class="read-more-button">Read More</button>
              </div>
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
              <ul>
                {% if reviews %}
                    {% for x in reviews %}
                        <span>{{ x.created_at }}</span> :
                        <span>{{ x.user }}</span> :
                        <span>{{ x.review_desp }}</span>
        
                        {% if x.rating > 0 %}
                            <div>
                                <i class="fa fa-star {% if x.rating < 1 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 2 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 3 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 4 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 5 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <hr>
                            </div>
                        {% else %}
                            <span>No ratings</span>
                            <hr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span>No reviews yet</span>
                {% endif %}
            </ul>
              <form class="review-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label>Your rating</label>
                  <div class="reviews-counter">
                    <div class="rate">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text" aria-hidden="true">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" aria-hidden="true" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" aria-hidden="true" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" aria-hidden="true" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" aria-hidden="true" />
                      <label for="star1" title="text">1 star</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Your message</label>
                  <textarea class="form-control" name="review_desp"  rows="10"></textarea>
                </div>
                <button class="round-black-btn">Submit Review</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function () {
    var descriptions = document.querySelectorAll('.description');

    descriptions.forEach(function (description) {
      var readMoreButton = description.querySelector('.read-more-button');
      var partialText = description.querySelector('.partial-text');
      var fullText = description.querySelector('.full-text');

      readMoreButton.addEventListener('click', function () {
        partialText.classList.toggle('hide');
        fullText.classList.toggle('show');
        if (partialText.classList.contains('hide')) {
          readMoreButton.textContent = 'Read Less';
        } else {
          readMoreButton.textContent = 'Read More';
        }
      });
    });
  });

</script>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- <script>
  $(document).ready(function(){
    $(".increment-btn").click(function(){
        var quantityInput = $(this).closest('.book_qty').find(".quantity-input");
        var currentValue = parseInt(quantityInput.val());
        quantityInput.val(currentValue + 1);
    });

    $(".decrement-btn").click(function(){
        var quantityInput = $(this).closest('.book_qty').find(".quantity-input");
        var currentValue = parseInt(quantityInput.val());
        if(currentValue > 1){
            quantityInput.val(currentValue - 1);
        }
    });

    $('.add-to-cart-btn').click(function (e){
        e.preventDefault();

        var book_id = $(this).closest('.book_qty').find(".book_id").val();
        var book_qty = $(this).closest('.book_qty').find(".quantity-input").val();
        var token=$('input[name=csrfmiddlewaretoken]').val();
        console.log("Book ID:", book_id);
        console.log("Quantity:", book_qty);

        $.ajax({
            method: "POST",
            url: "/add-to-cart",
            data: {
                'book_id': book_id,
                'book_qty': book_qty,
                csrfmiddlewaretoken: token
            },
            dataType: "json",  // This ensures that jQuery parses the response as JSON
            success: function(response) {
                      // Check the response status and display a pop-up message accordingly
                      alertify.success(response.status);
            },
            error: function(error) {
                // Handle errors here
                console.error(error);
                alertify.error('Error occurred. Please try again later.');
            }
        });
        

    })
});
</script> -->


{% endblock main %}


