{% extends 'user_home.html' %}

{% load static %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/details.css' %}">

<div class="container pt-5">
  <div class="card center">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ book.image.url }}" alt="{{ book.title }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="category text-bold">
            Category:{{categories}}
          </div>
          <h5 class="card-title product-title text-bold my-3">{{ book.title }}</h5>
          <h4 class="card-text text-success">Author: {{ book.author }}</h4>
          <p class="card-text new-price text-bold mb-1">Price: ₹{{ book.price }}</p>
          <!-- Add to Cart and Buy Now Buttons -->
          <div class="buttons d-flex my-5">
            <div class="block">
              <a href="#" class="btn btn-warning custom-btn">Add to Cart</a>
            </div>
            <div class="block">
              <a href="{% url 'add_to_cart' id=book.id %}" class="btn btn-danger custom-btn">Buy Now</a>
            </div>
          </div>
          <div class="row questions bg-light p-3">
            <div class="col-md-1 icon">
              <i class="fa-brands fa-rocketchat questions-icon"></i>
            </div>
            <div class="col-md-11 text">
              Have a question about our products at E-Store? Feel free to contact our representatives via live chat or
              email.
            </div>
          </div>
          <div class="delivery my-4">
            <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in 3 days
                from date of purchase</b> </p>
            <p class="text-secondary">Order now to get this product delivery</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="product-info-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                aria-selected="false">Reviews ({{ reviews.count }})</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="description">
                <div class="partial-text">
                  {{ book.description|truncatechars:200 }} <!-- Display first 200 characters as partial text -->
                </div>
                <div class="full-text hide">
                  {{ book.description }} <!-- Display the full description, initially hidden -->
                </div>
                <button class="read-more-button">Read More</button>
              </div>
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
              <ul>
                {% if reviews %}
                    {% for x in reviews %}
                        <span>{{ x.created_at }}</span> :
                        <span>{{ x.user }}</span> :
                        <span>{{ x.review_desp }}</span>
        
                        {% if x.rating > 0 %}
                            <div>
                                <i class="fa fa-star {% if x.rating < 1 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 2 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 3 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 4 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <i class="fa fa-star {% if x.rating < 5 %} no-checked {% else %} checked {% endif %}" id="check-star"></i>
                                <hr>
                            </div>
                        {% else %}
                            <span>No ratings</span>
                            <hr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span>No reviews yet</span>
                {% endif %}
            </ul>
              <form class="review-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label>Your rating</label>
                  <div class="reviews-counter">
                    <div class="rate">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text" aria-hidden="true">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" aria-hidden="true" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" aria-hidden="true" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" aria-hidden="true" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" aria-hidden="true" />
                      <label for="star1" title="text">1 star</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Your message</label>
                  <textarea class="form-control" name="review_desp"  rows="10"></textarea>
                </div>
                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" name="" class="form-control" placeholder="Name*">
                    </div>
                  </div>
                </div> -->
                <button class="round-black-btn">Submit Review</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function () {
    var descriptions = document.querySelectorAll('.description');

    descriptions.forEach(function (description) {
      var readMoreButton = description.querySelector('.read-more-button');
      var partialText = description.querySelector('.partial-text');
      var fullText = description.querySelector('.full-text');

      readMoreButton.addEventListener('click', function () {
        partialText.classList.toggle('hide');
        fullText.classList.toggle('show');
        if (partialText.classList.contains('hide')) {
          readMoreButton.textContent = 'Read Less';
        } else {
          readMoreButton.textContent = 'Read More';
        }
      });
    });
  });

</script>


{% endblock main %}


