{% extends 'user_home.html' %}
{% load static %}

{% block main %}


<div class="cart_info bg-light">
    <table class="table table-hover bg-light">
        <thead class="text-center bg-light">
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for i in myorder %}
            <tr>
                <td><a href="">#001{{ i.id }}</a></td>
                <td>{{i.book.title}}</td>
                <td><img src="/media/{{i.book.image}}" style="width:50px"/></td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.address}}</td>
                <td class="text-center">
                    {% if i.status == True %}
                    <p style="color: black; background-color:rgb(12, 243, 12); font-size: larger;">Confirmed</p>
                    {% else %}
                    <p style="color:red;background-color: black; font-size: larger;">Processing...</p>
                    {% endif %}
                </td>
                <td>{{ i.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock main %}
