{% extends 'user_home.html' %}
{% load static %}

{% block main %}

<div class="card-header">
      <a href="{% url 'display' %}" class="btn btn-warning text-white"><i class="fa fa-reply"></i>Back</a>
</div>
<div class="container my-3 pt-4">
    <div class="row ">
        {% if orders %}
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <h3>My Order</h3>
                    <table class="table table-bordered" id="responsive-table">
                        <thead class="text-center">
                            <tr>
                                <th>Order Date</th>
                                <th>Tracking Number</th>
                                <th>Total Price</th>
                                <th>Mobile</th>
                                <th>Address</th>
                                <th>Action</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for i in orders %}
                            <tr>
                                <td data-title="Order Date">{{ i.created_at }}</td>
                                <td data-title="Tracking Number">{{i.tracking_no}}</td>
                                <td data-title="Total Price">{{ i.total_price }}</td>
                                <td data-title="Mobile">{{i.mobile}}</td>
                                <td data-title="Address">{{i.address}}</td>
                                <td data-title="Action" class="text-center">
                                    {% if i.status == True %}
                                    <div class="progress">
                                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            <span style="color: black; background-color:rgb(12, 243, 12); font-size: larger ;">Confirmed <img src="https://previews.123rf.com/images/th3fisa/th3fisa1309/th3fisa130900049/22574975-sticker-of-green-glossy-check-mark-with-light-shadow.jpg" alt="" style="width: 30px;"></span>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="progress">
                                        <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            Processing....
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>
                                <td data-title="Status"><a href="{% url 'view_my_order' i.tracking_no %}" class="btn btn-primary">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container-fluid mt-100">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <img src="https://e7.pngegg.com/pngimages/936/444/png-clipart-computer-icons-icon-design-order-icon-cdr-angle.png" width="130" height="130" class="img-fluid mb-4 mr-3" />
                                <h3><strong>No products found for this order.</strong></h3>
                                <h4>Add something to make me happy :)</h4>
                                <a href="{% url 'display' %}" class="btn btn-primary cart-btn-transform m-3"
                                    data-abc="true">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<style>
    @media only screen and (max-width: 800px) {
        /* Force table to not be like tables anymore */
        #responsive-table table,
        #responsive-table thead,
        #responsive-table tbody,
        #responsive-table th,
        #responsive-table td,
        #responsive-table tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        #responsive-table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        #responsive-table tr {
            border: 1px solid #ccc;
        }

        #responsive-table td {
            /* Behave like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
        }

        #responsive-table td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /* Label the data */
        #responsive-table td:before {
            content: attr(data-title);
        }
    }
</style>



{% endblock main %}
