
  .icons {
    display: flex;
    margin: 20px;
    margin-left: 22px;
    font-size: larger;
  }

  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    #contact {
      margin-top: 0;
      margin-left: 0;
    }

    footer {
      margin-top: 10px;
    }

    .icons {
      margin-left: 0;
    }
  }