    # Ignore .env files
    .env



    # Ignore virtual environment folders
    djenv

    # Ignore compiled Python files
    __pycache__/
    *.pyc

    # Ignore log and media files
    logs/
    media